[req]
default_bit = 4096
distinguished_name = req_distinguished_name
prompt = no

[req_distinguished_name]
countryName             = AU
stateOrProvinceName     = NSW
localityName            = Sydney
organizationName        = My Organisation