# Loads default set of integrations. Do not remove.
default_config:

automation: !include automations.yaml

homeassistant:
  internal_url: https://{{ home_assistant_fqdn }}:{{ home_assistant_port }}/
  external_url: https://{{ home_assistant_fqdn }}:{{ home_assistant_port }}/

  # Name of the location where Home Assistant is running
  name: Home

  country: {{ home_assistant_country_code }}

  time_zone: {{ home_assistant_timezone }}

  # Location required to calculate the time the sun rises and sets
  latitude: {{ home_assistant_location_latitude }}
  longitude: {{ home_assistant_location_longitude }}
  elevation: {{ home_assistant_location_elevation }}

  # C for Celcius, F for Fahrenheit
  temperature_unit: C
  unit_system: metric
  currency: {{ home_assistant_currency }}

http:
  server_port: {{ home_assistant_port }}

  ssl_certificate: /config/ssl/fullchain.pem
  ssl_key: /config/ssl/privkey.pem
  login_attempts_threshold: 20
